---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Bio from '../../components/Bio.astro';
import PortfolioGrid from '../../components/PortfolioGrid.astro';
import ExhibitionsList from '../../components/ExhibitionsList.astro';
import WaveSeparator from '../../components/WaveSeparator.astro';
---

<Layout title="Elena Ghini Photography" lang="en">
  
  <div class="bg-bg-primary transition-colors duration-300">
      <Hero />
      <WaveSeparator color="secondary" position='top'/>
  </div>

  <div class="bg-bg-secondary transition-colors duration-300">
      
      <Bio lang="en" />
      
      <WaveSeparator color="primary" position='top'/>
  </div>

  <div class="bg-bg-primary transition-colors duration-300">
      
      <div id="portfolio" class="max-w-6xl mx-auto px-4 pt-12 pb-24">
        <h2 class="text-4xl md:text-5xl text-center mb-16 text-text-main font-serif-title uppercase transition-colors">
            Portfolio
        </h2>
        <PortfolioGrid lang="en" />
      </div>

      <WaveSeparator color="secondary" position='top' />
  </div>

  <div class="bg-bg-secondary pt-12 transition-colors duration-300">
      <ExhibitionsList />
      
      <WaveSeparator color="dark" position='top'/>
  </div>

</Layout>