---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

interface Props { lang?: 'it' | 'en'; }
const { lang = 'it' } = Astro.props;
const projects = await getCollection('portfolio');
---

<div class="flex flex-wrap justify-center gap-x-8 gap-y-12">
  {projects.map((project) => (
    
    <a href={lang === 'it' ? `/portfolio/${project.id}` : `/en/portfolio/${project.id}`} class="group block text-center w-64 md:w-72">
      
      <div class="overflow-hidden bg-bg-secondary aspect-square mb-5 rounded-sm shadow-sm">
          {project.data.coverImage && (
            <Image 
              src={project.data.coverImage} 
              alt={project.data.title_it} 
              width={400} 
              class="object-cover w-full h-full group-hover:scale-105 group-hover:opacity-90 transition-all duration-500"
            />
          )}
      </div>
      
      <h3 class="text-base font-sans font-medium text-text-muted group-hover:text-text-main transition-colors uppercase tracking-[0.2em]">
        {lang === 'it' ? project.data.title_it : (project.data.title_en || project.data.title_it)}
      </h3>
    </a>
  ))}
</div>