---
interface Props { text: string; }
const { text } = Astro.props;
---

<section class="py-16 md:py-24 text-center px-4 overflow-hidden">
    <p class="font-quote text-on-secondary max-w-4xl mx-auto px-4 transition-colors">
        "{text}"
    </p>
</section>